<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="../../Content/bootstrap.min.css" type="text/css" />
</head>
<body>
    <section id="gridSystem">
            <div class="container">
            <div class="row">
                @RenderBody()                
            </div>
            </div>
    </section>
</body>
</html>
